@import url(./footer.css);
@import url(./header.css);
@import url(./nav.css);
@import url(./main.css);
* {
  margin: 0;
  padding: 0;
}
.header {
  height: 60vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/about-bg-2.jpg);
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contact-section .btn {
  background-color: #fa2056;
  color: white;
  font-family: Noto Sans, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 30px;
}
