/* CHARTE GRAPHIQUE
#FA2056 : cta button
#F5F5F5 : background color
Font Body: Noto Serif
Font Titre: Montserrat
 */
* {
  margin: 0;
  padding: 0;
}
/* Header Image Background */
.hero-content {
  height: 90vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/hero);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Header Logo */
.logo img {
  width: 7vw;
  padding: 10px 20px;
}
/* NavBar */
.nav {
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.button {
  background-color: #fa2056;
  color: white;
  font-family: Noto Sans, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 30px;
}
.cta-button:hover {
  background-color: #fa2056;
}
/* NavBar links */
.navlink {
  display: flex;
  align-items: center;
  list-style: none;
  color: white;
  font-family: Noto Sans, sans-serif;
  font-size: 1rem;
  gap: 35px;
}
.navlink a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 1rem;
}
/* CTA Button */
.cta-button {
  background-color: #fa2056;
  color: white;
  font-family: Noto Sans, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 30px;
}
.cta-button:hover {
  background-color: #fa2056;
}
/* Style Hero */
.hero-content {
  color: white;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}
.hero-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.redline {
  width: 100px;
  height: 3px;
  background-color: #fa2056;
}
/* Section 1: citation */
.citation {
  background-color: #e7e7e7;
  padding-top: 50px;
  padding-bottom: 50px;
}
.citation img {
  position: absolute;
  width: 6vw;
  left: 10%;
}
.quote {
  background-color: #e7e7e7;
}
.text {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Notosans", sans-serif;
  color: #363636;
  background-color: #e7e7e7;
}
.author {
  font-size: 1rem;
  text-align: center;
  font-family: "Notosans", sans-serif;
  color: #363636;
  background-color: #e7e7e7;
  padding: 20px 20px;
}
/* Section 1 event */
.upcoming-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e7e7;
  padding-top: 50px;
  padding-bottom: 50px;
}
.upcoming-events h2 {
  font-size: 2rem;
  color: black;
  font-family: montserrat, sans-serif;
  background-color: #e7e7e7;
  padding-bottom: 20px;
}
.redline {
  width: 100px;
  height: 3px;
  background-color: #fa2056;
}
.container {
  width: 80%;
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.event-trek {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  background-color: #e7e7e7;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}
.event1 img {
  width: 100%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.event-trek h3 {
  font-size: 1.5rem;
  font-family: montserrat, sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  color: black;
}
.event-trek p {
  font-size: 1rem;
  font-family: notosans, sans-serif;
  margin-bottom: 20px;
  color: #363636;
}
.cta-button {
  background-color: #fa2056;
  color: white;
  font-family: Notosans, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 30px;
}
.event-walk {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}
.event2 img {
  width: 100%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.event-walk h3 {
  font-size: 1.5rem;
  font-family: montserrat, sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  color: black;
}
.event-walk p {
  font-size: 1rem;
  font-family: notosans, sans-serif;
  margin-bottom: 20px;
  color: #363636;
}
.cta-button {
  background-color: #fa2056;
  color: white;
  font-family: Noto Sans, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 30px;
}
/* section 2 explore */
.explore {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/explore);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 60vh;
}
.none {
  width: 50%;
}
.explore-contener {
  width: 30%;
  color: white;
  padding-top: 10%;
}
.explore-content {
  padding-top: 50px;
  padding-bottom: 50px;
}
.explore h2 {
  font-size: 2rem;
  font-family: montserrat, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}
.redline {
  width: 30px;
  height: 3px;
  background-color: #fa2056;
}
.explore p {
  font-size: 1rem;
  font-family: Notosans, sans-serif;
  margin-bottom: 20px;
  color: white;
}
.cta-button {
  background-color: #fa2056;
  color: white;
  font-family: Noto Sans, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 30px;
}
/* section 3 tours */
.tours {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  background-color: #e7e7e7;
  padding-top: 50px;
  padding-bottom: 50px;
}
.redline {
  width: 100px;
  height: 3px;
  background-color: #fa2056;
}
.tours-content {
  width: 20%;
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.tours h2 {
  font-size: 2rem;
  padding-bottom: 20px;
  color: black;
  font-family: montserrat, sans-serif;
}
.tours p {
  font-size: 1rem;
  font-family: notosans, sans-serif;
  line-height: 27px;
  margin-top: 20px;
  padding-bottom: 50px;
  color: #363636;
}
.cta-button {
  background-color: #fa2056;
  color: white;
  font-family: Noto Sans, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 30px;
}
.image-content-1 {
  width: 20%;
  padding-top: 30px;
  padding-bottom: 50px;
}
.image-content-1 img {
  width: 20vw;
  border-radius: 5px;
}
.image-content-2 {
  width: 20%;
  padding-top: 30px;
  padding-bottom: 50px;
}
.image-content-2 img {
  width: 20vw;
  border-radius: 5px;
}
.tours-content img {
  width: 20vw;
}
/* footer */
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #363636;
  font-family: "Notosans", sans-serif;
  font-size: 1rem;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .header {
    width: 100%;
  }
  .nav {
    width: 100%;
    align-items: center;
  }
  .quote-section {
    width: 100%;
  }
  .upcoming-events {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .explore {
    max-width: 100%;
    justify-content: center;
  }
  .tours {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image-content-1 img {
    max-width: 100%;
    flex-wrap: wrap;
  }
  .image-content-2 img {
    max-width: 100%;
    flex-wrap: wrap;
  }
  .footer {
    max-width: 100vw;
  }
}

@media (max-width: 430px) {
  .header {
    max-width: 100%;
  }
  .nav {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .quote-section {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .upcoming-events {
    max-width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .explore {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tours {
    max-width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .image-content-1 img {
    max-width: 100vw;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .image-content-2 img {
    max-width: 100vw;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .footer {
    max-width: 100vw;
    flex-direction: column;
  }
}
